<h1>Edit itinerary</h1>



<%= form_for(@itinerary) do |f| %>
  <% if @itinerary.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>

        <ul>
          <% @itinerary.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= hidden_field_tag([:user_id], @user.id) %>

  <% if !@itinerary.places.empty? %>
  <ul>
    <% @itinerary.places.each do |place| %>
      <!-- <li><%= link_to place.name, itinerary_place_path(@itinerary, place) %> -->
      <li><%= place.name %> <%= link_to "Delete site", itinerary_place_path(@itinerary, place), :method=> :put %>
    <% end %>
  </ul>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Itinerary name" %>
  </div></br>

  <div class="field">
  <%= f.text_area :description, placeholder: "Description" %>
  </div></br>

  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
