<h1>List of Itineraries</h1>

<table>
<% @itineraries.each do |itin| unless @itineraries.empty? %>
  <tr><td><%= link_to itin.name, itinerary_path(itin) %></td> <td>  by <%= itin.user.username %></td> <td><%= itin.likes.count unless itin.likes.empty? %><%= itin.likes.count == 1 ? " Like" : " Likes" unless itin.likes.empty? %></td><tr>
<% end %>
<% end %>
</table>
</br></br>

<%= link_to "Create new Itinerary", new_itinerary_path %></br>
<%= link_to "Log Out", '/logout' %>
