<h1>Itinerary Details<h1>


<h2><%= @itinerary.name %> by <%= @itinerary.user.username %></h2>
<h2><%= @itinerary.description %></h2>

<% if !@itinerary.places.empty? %>
<ul>
  <% @itinerary.places.each do |place| %>
    <p><li><%= link_to place.name, itinerary_place_path(@itinerary, place) %></p>
  <% end %>
</ul>
<% end %>


<% if @current_user == @itinerary.user %>
<p><%= link_to "Add places", new_itinerary_place_path(@itinerary) %> <%= link_to "Edit Itinerary", edit_itinerary_path(@itinerary) %> <%= link_to "Delete Itinerary", itinerary_path(@itinerary), :method=> :delete %></p>
<% end %>

<% if @current_user != @itinerary.user %>

  <%= form_tag(method: :post, action: :create, controller: :likes) do %>
  <%= hidden_field_tag(:itinerary_id, @itinerary.id) %>
  <%= submit_tag "Like this post" %>
  <% end %>
<% end %>

<% if !@itinerary.likes.empty? %>
  <p><%= @itinerary.likes.count %><%= @itinerary.likes.count == 1 ? " Like" : " Likes" %></p>
<% end %>
