<h1>Itinerary Details<h1>
  <% if @itinerary.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>

        <ul>
          <% @itinerary.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<h2><%= @itinerary.name %> by <%= @itinerary.user.username %></h2>
<h2><%= @itinerary.description %></h2>

<% if !@itinerary.places.empty? %>
<ul>
  <% @itinerary.places.each do |place| %>
    <p><li><%= link_to place.name, itinerary_place_path(@itinerary, place) %></p>
  <% end %>
</ul>
<% end %>


<% if @current_user == @itinerary.user %>
<h3><%= link_to "Add site", new_itinerary_place_path(@itinerary) %></h3>
<% end %>

<% if @current_user == @itinerary.user %>
<h3><%= link_to "Edit site", edit_itinerary_path(@itinerary) %></h3>
<% end %>
