<div class="background-image-itin">


<div class="itin_show">
<h1>Itinerary Details<h1>


<h2>Name: <%= @itinerary.name %> by <%= @itinerary.user.username %></h2>
<h2>Description: <%= @itinerary.description %></h2>

<div class="itin_show_add clearfix max-width-4">
<div class="col col-4 ">Places Visited</div>
<% if @current_user == @itinerary.user %>
<div class="col col-8 right-align"><%= link_to "Add places", new_itinerary_place_path(@itinerary) %>
<%= link_to "Edit Itinerary", edit_itinerary_path(@itinerary) %>
<%= link_to "Delete Itinerary", itinerary_path(@itinerary), :method=> :delete %></div>
<% end %>
</div>

<% if !@itinerary.places.empty? %>
<ul>
  <% @itinerary.places.each do |place| %>
    <p><li><%= link_to place.name, itinerary_place_path(@itinerary, place) %></p>
  <% end %>
</ul>
<% end %></br>


<% if @current_user != @itinerary.user && !check_if_admin(@current_user) && !current_user_likes_itins(@current_user, @itinerary) %>

<%= form_for [@itinerary, @like] do |f| %>

<% if @current_user.username != 'admin' %>
  <div class="field">
  <%= f.label "Add rating" %>
  <%= f.collection_select :rating, ['1','2','3','4','5'], :to_i, :to_i %></br></br>
  </div>
<% end %>

<%= f.submit "Add rating" %>
<% end %>

<% end %></br>

<% if @current_user != @itinerary.user && !check_if_admin(@current_user) && current_user_likes_itins(@current_user, @itinerary) %>

<%= form_for [@itinerary, @liked], :url => url_for(:controller => 'likes', :action => 'update') do |f| %>
<h3>Your current rating is <%= @liked.rating %></h3>
<% if @current_user.username != 'admin' %>
  <div class="field">
  <%= f.label "Change rating" %>
  <%= f.collection_select :rating, ['1','2','3','4','5'], :to_i, :to_i %></br></br>
  </div>
<% end %>

<%= f.submit "Change rating" %>
<% end %></br>

<%= button_to "Delete Rating", {:controller => :likes, :action => 'destroy', :id => @liked.id }, :method => :delete %>
<% end %>


<h4><%= link_to "<< Return to Itineraries index", itineraries_path %></h4>
</div>

</div>
