<div class="background-image-itin">
<h4><%= link_to "<< Return to Itineraries index", itineraries_path %></h4>

<h1>Itinerary Details<h1>


<h2>Name: <%= @itinerary.name %> by <%= @itinerary.user.username %></h2>
<h2>Description: <%= @itinerary.description %></h2>

<h3>Places Visited</h3>
<% if !@itinerary.places.empty? %>
<ul>
  <% @itinerary.places.each do |place| %>
    <p><li><%= link_to place.name, itinerary_place_path(@itinerary, place) %></p>
  <% end %>
</ul>
<% end %>


<% if @current_user == @itinerary.user %>
<p><%= link_to "Add places", new_itinerary_place_path(@itinerary) %> <%= link_to "Edit Itinerary", edit_itinerary_path(@itinerary) %> <%= link_to "Delete Itinerary", itinerary_path(@itinerary), :method=> :delete %></p>
<% end %>

<% if @current_user != @itinerary.user && !check_if_admin(@current_user) %>

  <% if current_user_likes_itins(@current_user, @itinerary) && !@like.nil? %>
    <%= button_to "Unlike post", like_path(@like.id), params: {'itin_id' => @itinerary.id}, :method=> :delete %>
  <% else %>
    <%= button_to "Like post", likes_path, params: {'itinerary_id' => @itinerary.id}, :method=> :post %>
  <% end %>

<% end %>

<% if !@itinerary.likes.empty? %>
  <p><%= @itinerary.likes.count %><%= @itinerary.likes.count == 1 ? " Like" : " Likes" %></p>
<% end %>

</div>
