<div class="background-image-users">

<div class="new-user center">
<h1>Welp!!!</h1>
<h2>New Users Sign up</h2>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= f.text_field :username, placeholder: "username" %>
  </div></br>

  <div class="field">
  <%= f.text_field :password, placeholder: "password" %>
  </div></br>

  <div class="field">
  <%= f.text_field :email, placeholder: "email address" %>
  </div></br>

  <div class="actions">
  <%= f.submit "Join Welp!" %>
  </div>
<% end %></br>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
</div>



</div>
