<h1>List of places</h1>

<table>
<% @places.each do |place| unless @places.empty? %>
  <tr><td><%= link_to place.name, place_path(place) %></td>  <td><%="Location:" unless place.address.nil? %> <%= place.address unless place.address.nil? %></td> <td><%= link_to "Edit place", edit_place_path(place) %></td> <td><%= link_to "Delete Place", place_path(place), :method=> :delete %></td></tr>
<% end %>
<% end %>
</table>
</br>


<%= form_tag(places_path, method: :get) do %>
<%= select_tag "borough", options_for_select(['All', 'Manhattan','Queens','Brooklyn','Bronx','Staten Island']) %>
<%= submit_tag "View by borough" %>
<% end %></br>

<%= link_to "Add New Place", new_place_path %>
