<div class="background-image-place">

<div class="places_new">
<h2>Add existing or create new place for itinerary</h2>

<% if @current_user.username != 'admin' %>
    <h2><%= @itinerary.name %> by <%= @itinerary.user.username %></h2>
    <h2><%= @itinerary.description %></h2>

    <% if !@itinerary.places.empty? %>
    <ul>
      <% @itinerary.places.each do |place| %>
        <li><%= place.name  %></li>
      <% end %>
    </ul>
    <% end %>

<% end %>

    <%= form_for [@itinerary, @place] do |f| %>
    <!-- <%= f.collection_check_boxes :name, Place.all, :id, :name %></br></br> -->

    <%= render partial: "form", locals: {place: @place, f: f} %>

    <% if @current_user.username != 'admin' %>
      <div class="field">
      <%= f.label "Add Existing Place" %>
      <%= f.collection_select :id, Place.all, :id, :name_with_id, :include_blank => true %></br></br>
      </div></br>
    <% end %>

    <%= f.submit "Add site" %>
    <% end %>

</div>
</div>
