<!DOCTYPE html>
<html>
<head>
  <title>RAILProj</title>
  <link href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="welcome-tag">
  <% if session[:user_id].nil? %>
  <%= "Welcome to Welp!!!" %>
  <div class="right" id="sign_in">
  <%= link_to "Sign In", new_session_path %>
  </div>
  <% else %>
  <%= "Welcome " %><%= current_user.username.upcase unless session[:user_id].nil? %>
  <div class="right" id="sign_in">
  <%= link_to "Log Out", '/logout' %>
  </div>
  <% end %>

</div>
<%= yield %>




</body>
</html>
